certifi==2026.1.4
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
idna==3.11
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
polars
polars-runtime-32
psutil
pyparsing
python-dateutil
PyYAML
requests
scipy
setuptools
six
sympy
torch
torchaudio
torchvision
typing_extensions
ultralytics
ultralytics-thop
urllib3
autodistill
autodistill-grounding-dino
autodistill-grounded-sam
transformers
scikit-learn
roboflow
flask
dotenv
